django-cors-headers 
Django
psycopg2 == 2.9.6
djangorestframework
python-dotenv
django-mptt == 0.14.0
djangorestframework-simplejwt
Pillow == 9.0.0
daphne
channels
channels_redis == 3.3
pandas
redis
redis-server
python-socketio
